body{
    margin: 0;
}
.banner{
    display: flex;
    gap: 20px;
    padding: 30px;
    background-color: whitesmoke;
}
.banner-half{
    width: 45%;
    padding: 0 20px;
}
.banner-half img{
    width: 100%;
}
.left{
    padding-top: 20px;
}
.banner-half h1{
    font-size: 40px;
}
.orange{
    color: orange;
}
.green-mango{
    color: green;
    font-size: 20px;
}
.ashed-fruit{
    color: rgb(76, 76, 76);
}
.juicy-anchor{
    text-decoration: none;
    color: white;
    background-color: tomato;
    padding: 10px 20px;
    border-radius: 7px;
}