body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.banner{
    display: flex;
    gap: 20px;
    padding: 30px;
    background-color: whitesmoke;
}
.banner-half{
    width: 45%;
    padding: 0 20px;
}
.right{
    padding-top: 50px;
}
.banner-half img{
    width: 100%;
}
.banner-half h1{
    font-size: 40px;
}
.orange{
    color: orange;
}
.green-mango{
    color: green;
    font-size: 20px;
}
.ashed-fruit{
    color: rgb(76, 76, 76);
}
.juicy-anchor{
    text-decoration: none;
    color: white;
    background-color: tomato;
    padding: 10px 20px;
    border-radius: 7px;
}

/* Footer */
footer{
    background-color: rgb(76, 76, 76);
    padding: 40px 0;
}
.tree-container{
    display: flex;
    gap: 80px;
    justify-content: center;
}
.tree-container a {
    text-decoration: none;
    color: whitesmoke;
}
.flex-column{
    display: flex;
    flex-direction: column;
}